@import '_vars';
@import '_global';
@import '_fonts';

//start header
.header__top {
    background-color: #fff;
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text {
    margin-left: auto;
    margin-right: 50px;
    span {
        color: $red;
    }
}
.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.header__btn-login {
    background-color: $green;
}
.header__btn-register, .header__btn-logout {
    background-color: $red;
    margin-left: 7px;
}
.header__menu {
    background-color: $bg;
}
.menu {
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list {
    li {
        display: inline-block;
        & + li {
            margin-left: 30px;
        }
    }
    a {
        color: #fff;
        font-size: 14px;
    }
}
.header__circle {
    &.active {
        display: block;
    }
    display: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;
    }
    span {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        right: -7px;
        top: -7px;
        font-size: 11px;
        color: #fff;
    }
}
.header__box {
    display: flex;
    align-items: center;
}
.notification {
    span{
        background-color: $yellow;
    }
}
.message {
    span {
        background-color: $tomate;
    }
}
.basket {
    margin-right: 20px;
    span {
        background-color: $green;
    }
}
.header__btn-login--off {
    display: none;
}
.header__btn-logout {
    display: none;
    &.header__btn-login--on {
        display: block;
    }
}
.user {
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
    &::before {
        content: '\f107';
        position: absolute;
        top: 0;
        right: 0;
        font-family: 'icomoon';
        font-size: 16px;
        color: #707070;
    }
    &__inner {
    display: flex;
    align-items: center;
    }
    &__images {
        img{
        margin-right: 15px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
    }
}
    &__info {
        font-size: 14px;
    }
    &__name {
        @include f500;
        color: #222;
    }
    &__money {
        color: $green;
        @include f700;
    }
}
.user__box,
.basket__box,
.notification__box,
.message__box {
    position: relative;
    margin-top: 40px;
    height: 90px;
    &:hover {
        .user__menu 
        {
           height: auto;
           border-width: 0.833px;
           padding: 20px;
           overflow: auto;
        }
    }
}
.user__menu {
    position: absolute;
    top: 70px;
    left: 20px;
    z-index: 100;
    border: 0px solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
    padding: 0 20px;
    width: 158px;
    transition: all .3s;
    height: 0;
    overflow: hidden;
    a {
        font-size: 12px;
        color: #546e7a;
        margin-bottom: 15px;
    }
}
.circle__menu {
    background-color: #fff;
    position: absolute;
    top: 62px;
    right: -12px;
    z-index: 100;
    border-top: 0px solid #e0e0e0;
    line-height: 22px;
    height: 0;
    overflow: hidden;
    transition: all .3s;
}
.basket__box,
.notification__box,
.message__box {
    margin-top: 55px;
    margin-left: 15px;
    &:hover {
        .header__circle::before {
            color: $bg;
        }
        .circle__menu {
            overflow: auto;
            height: auto;
            border-width: 1px;
        }
        .circle__item {
            padding: 22px;
            border-width: 1px;
        }
    }
}
.circle__item {
    position: relative;
    width: 269px;
    border-bottom: 0px solid #e0e0e0;
    border-top: none;
    padding: 0 22px;
    display: flex;
    align-items: center;
    transition: all .3s;
    &::before {
        position: absolute;
        top: 27px;
        right: 28px;
        font-size: 16px;
        color: #b0bec5;
    }
}
.circle__images {
    margin-right: 16px;
}
.circle__info {
    &-name {
        @include f500;
        color: $bg;
    }
    &-theme {
        font-size: 12px;
        color: $green;
    }
    &-price {
        @include f500;
        color: #000;
        font-size: 16px;
    }
    &-date {
        font-size: 10px;
        color: #707070;
    }
}
.basket__title {
    display: flex;
    justify-content: space-between;
    @include f700;
    font-size: 16px;
    color: $bg;
    margin-bottom: 17px;
}
.basket__summ {
    padding: 16px 17px 12px;
}
.basket__btn {
    @include f700;
    color: #fff;
    font-size: 14px;
    padding: 7px 5px;
    background-color: $green;
    text-align: center;
    width: 103px;
}
.basket__btn-checkout {
    width: 121px;
    margin-left: 6px;
    background-color: $red;
}
.notification__menu,
.message__menu {
    .circle__images {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 20px;
    }
    .circle__info {
        line-height: 18px;
    }
}
.small__info-name {
    font-size: 12px;
    @include f700;
}
.small__info-theme {
    font-size: 11px;
}
.icons--color::before {
    color: $tomate;
}
.header__btn-menu,
.menu__btn {
    display: none;
}
//modal
#modal {
    background-color: $green;
    max-width: 730px;
    width: 100%;
    padding: 90px 0 100px;
}
.login__wrapper {
    form {
        max-width: 400px;
        margin: 0 auto;
    }
    label {
        position: relative;
        display: block;
        width: 100%;
        &::before {
            position: absolute;
            font-family: 'icomoon';
            color: #fff;
            font-size: 14px;
            left: 18px;
            top: 10px;
        }
    }
    .login__label-name::before {
        content: '\f007';
    }
    .login__label-pass::before {
        content: '\f023';
    }
    input {
        height: 43px;
        margin-bottom: 8px;
        border: none;
        background-color: #76ae36;
        color: #fff;
        padding-left: 40px;
        display: block;
        width: 100%;
        outline-color: #75ac36;
        &::placeholder {
            color: #fff;
            font-size: 14px;
        }
    }
    button {
        margin-top: 19px;
        padding: 18px 0 16px;
        background-color: #fff;
        width: 140px;
        text-transform: uppercase;
        margin-right: 10px;
        @include f700;
        color: #000;
        text-align: center;
        box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
    }
}
.lost-pass {
    margin-top: 20px;
    display: block;
    color: #fff;
    font-size: 18px;
}
.create-acc {
    text-align: center;
    margin-top: 19px;
    padding: 13px 0 15px 35px;
    width: 245px;
    background-color: #76ae36;
    color: #fff;
    font-size: 18px;
    position: relative;
    &::before {
        content: '\f044';
        font-family: "icomoon";
        position: absolute;
        left: 35px;
        top: 14px;
    }
}
.login__title {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 40px;
    font-size: 48px;
    @include f700;
}
.fancybox-button {
    opacity: 0;
}
.fancybox-close-small:hover {
    color: #fff;
    opacity: 0;
}
.close-btn {
    font-family: 'icomoon';
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    line-height: 2;
    position: absolute;
    top: 3px;
    right: 13px;
}
//end modal
//end header
//start search
.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
}
.search__inner {
    padding: 155px 0 100px;
    color: #fff;
    text-align: center;
    &-title {
        margin-bottom: 10px;
        font-size: 48px;
        line-height: 72px;
        @include f500;
    }
    &-text {
        margin-bottom: 50px;
        font-size: 20px;
        line-height: 30px;
        @include f500;
    }
    &-form {
        position: relative;
        max-width: 670px;
        margin: 0 auto;
        input {
            display: block;
            width: 100%;
            height: 56px;
            border-radius: 4px;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border: none;
            font-size: 14px;
            @include f500;
            outline: $green;
            padding: 0 60px 0 25px;
            &::placeholder {
                color: #90a4ae;
                @include f500;
            }
        }
        button {
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 16px;
        }
    }
}
//end search
//start products
.products {
    padding: 110px 0;
    background-color: $grey;
}
.products__inner-btn {
    text-align: center;
    margin-bottom: 60px;
    button {
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        & + button {
            margin-left: 5px;
        }
        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }
}
.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item {
    max-width: 442px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img {
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        min-height: 90px;
        @include f500;
        align-items: center;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name {
        max-width: 310px;
    }
    &-title {
        color: $bg;
        font-size: 18px;
        display: block;
    }
    &-category {
        font-size: 14px;
        color: $green;
        display: block;
    }
    &-price {
        font-size: 20px;
        color: $bg;
        @include f700;
    }
    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-author {
        display: flex;
        align-items: center;
        max-width: 245px;
      .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        margin-right: 14px;
        }
        span {
        font-size: 14px;
        @include f700;
    }
}
&-star {
    font-size: 12px;
  span {
      color: $bg;
  }
}
}
.products__bottom-btn {
    text-align: center;
    button {
        padding: 20px 30px;
        margin: 45px 5px 0;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        color: $bg;
        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }
}
//end products
//start .product-slider
.product-slider {
    padding: 110px 0 120px;
    .slick-dots {
        text-align: center;
        margin-top: 50px;
    }
        li {
            display: inline-block;
            margin: 0 3px;
            &.slick-active {
                button {
                    background-color: $green;
                }
            }
            button {
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                font-size: 0;
                width: 16px;
                height: 16px;
            }
        }
}
//end .product-slider
//start advantages
.advantages {
    background-color: $bg;
    padding: 110px 0;
}
.advantages__title {
    color: #fff;
}
.advantages__inner {
    display: flex;
    justify-content: space-between;
}
.advantages__item {
    max-width: 370px;
    text-align: center;
    padding: 0 15px;
    &:hover {
        .advantages__item-images {
            background-color: $green;
        }
        .advantages__item-title {
            color: $green;
        }
        .advantages__item-images {
            g {
                fill: #fff;
            }
        }
    }
    &-images {
        width: 114px;
        height: 114px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 30px;
        transition: all .5s;
    }
    &-title {
        margin-bottom: 25px;
        color: #fff;
        font-size: 24px;
        @include f500;
        transition: all .5s;
    }
    &-text {
        font-size: 15px;
    }
}
.icosvg-1 {
    svg{
        width: 50px;
    }
}
.icosvg-2 {
    svg {
        width: 70px;
    }
}
.icosvg-3 {
    svg {
        width: 70px;
    }
}
//end advantages
//start authors
.authors {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    &-box {
        max-width: 650px;
        width: 100%;
        min-height: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
    }
    &__title {
        font-size: 30px;
        line-height: 30px;
        color: #fff;
        margin-right: 45px;
        max-width: 262px;
        span{
            @include f700;
        }
    }
    &-link {
        font-size: 18px;
        line-height: 36px;
        padding: 14px 40px;
        background-color: #fff;
    }
}
//end authors
//start tutorial
.tutorial {
    padding: 70px 0 120px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 370px;
        width: 100%;
    }
}
.tutorial__item {
    &-images {
        min-height: 270px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &-title {
        background-color: #f8f8f8;
        font-size: 24px;
        text-align: center;
        @include f700;
        padding: 30px 10px;
        color: $bg;
    }
}

//end tutorial
//start footer
.footer {
    background-color: $bg;
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 100px 0 80px;
    }
}
.footer__col {
    max-width: 270px;
    width: 100%;
    &-menu {
        max-width: 220px;
    }
    &-title {
        font-size: 22px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #fff;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 2px;
            width: 51px;
            height: 3px;
            background-color: $green;
        }
    }
    &-text {
        color: #b7c3c8;
        margin-bottom: 30px;
    }
}
.footer__info {
    margin-top: 18px;
    color: #fff;
    @include f500;
    padding-left: 30px;
    position: relative;
    &::before {
        content: "\f041";
        font-family: 'icomoon';
        color: $green;
        font-size: 18px;
        position: absolute;
        left: 0;
    }
}
.footer__info-phone {
    &::before {
        content: '\f095';
    }
}
.footer__col-list {
    a {
        margin-bottom: 13px;
        color: #b7c3c8;
        padding-left: 22px;
        position: relative;
        &::before {
            content: '\f105';
            color: $green;
            font-size: 18px;
            font-family: 'icomoon';
            position: absolute;
            left: 0;
        }
    }
}
.footer__social-link {
    margin-bottom: 33px;
    li {
        display: inline-block;
    }
    a {
        width: 28px;
        height: 28px;
        background-image: url(../images/icons/css_sprites.png);
        & + a {
            margin-left: 7px;
        }
    }
}
.link-twitter {
    background-position: -28px 28px;
}
.link-youtube {
    background-position: -56px 0;
}
.link-pinterest {
    background-position: 0 28px;
}
.link-linkedin {
    background-position: 56px 0;
}
.footer__form-title {
    margin-bottom: 15px;
    color: #fff;
    font-size: 20px;
}
.footer__form {
    position: relative;
    input {
        border: none;
        background-color: #2f3c43;
        display: block;
        width: 100%;
        height: 40px;
        color: #fff;   
        font-size: 14px;
        padding-left: 13px;
        padding-right: 50px;
        &::placeholder {
            color: #697378;   
            font-size: 14px;
        }
    }
    button {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: $green;
        height: 40px;
        width: 43px;
        &::before {
            content: '\f124';
            position: absolute;
            top: 11px;
            left: 13px;
            font-family: 'icomoon';
            color: #fff;
            font-size: 20px;
        }
    }
}
.footer__copy {
    border-top: 1px solid #424d53;
}
.footer__copy-text {
    text-align: center;
    font-size: 15px;
    color: #919699;
    padding: 25px 0;
}
//end footer


@import '_media';